.flex { display: flex; }
.flex-1 { flex: 1; }
.centered { text-align: center }

html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#app {
  height: 100%;
}
#container {
  height: 100%;
}
#center {
  width: 100%;
  display: relative;
}
.menu {
  height: 40px;
}
.board {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}
.dead, .alive {
  flex: 1;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.alive { background-color: black; }
.dead { background-color: white; }
.small-i { width: 23px; }
.label-i { margin: 2px; margin-top: 7px; }
